body{
    background-color: rgb(176, 240, 240);
    text-align: center;
}

h1{
    font-style: italic;
    font-weight: 5000px;
}

li {
    display: inline-block; 
    padding-right: 20px;
    
    
}